@using Parcial2_AP2_EnyerHolguin.BLL;
@using Parcial2_AP2_EnyerHolguin.Models;

@page "/ConsultaCobro"
<div class="container shadow-lg p-3 rb-5 bg-white rounded col-md-16">
    <div class="card-img">
        <div class="card-header">
            <h1>Consulta de Cobros</h1>
        </div>

    </div>
    <div class="card-body">
        <div class="row align-items-center">

            <div class="col">
                <div class="form-group row">
                    <label class="col-form-label">Filtro</label>

                    <div class="col-sm-9">
                        <select @bind="opcion" class="form-control">
                            @foreach (var item in filtro)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label class="col-form-label">Fecha</label>
                    <div class="col-sm-10">
                        <input @bind="fecha" type="datetime" class="form-control" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label>Filtro</label>
                
                    <select @bind="opcion" class="form-control">
                        @foreach (var item in filtro)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                
            </div>

            <div class="form-group">
                <label>Criterio</label>
                <div class="input-group">
                    <input type="text" @bind="Criterio" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => Consultar())"><i /> Consultar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive text-nowrap" style="position: relative; height:201px; overflow: auto; display: block;">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Cobro Id</th>
                        <th>Fecha</th>
                        <th>Cliente Id</th>
                        <th>Totales</th>
                        <th>Facturas Pendientes</th>


                    </tr>
                </thead>
                <tbody class="bg-white">
                    @foreach (var item in ventasList)
                    {
                        <tr>
                            <td>@item.CobroId</td>
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>@item.Cliente.Nombres</td>
                            <td>@item.Totales</td>
                            <td>@item.BalanceCobro</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
</div>


@code
{
    string Mensaje = string.Empty;

    [Inject]
    public CobrosBLL cobrosBLL { get; set; }
    private string[] filtro = { "Id", "No. Facturas Pendientes", "Nombre Cliente", "Fecha", "Monto Total", "Todo" };
    private string opcion;
    private string Criterio;
    List<Cobros> ventasList = new List<Cobros>();
    DateTime fecha;


    protected override void OnInitialized()
    {
        opcion = "";
        Criterio = "";
        fecha = DateTime.Now;
    }


    public async void Consultar()
    {
        ventasList = new List<Cobros>();

        switch (opcion)
        {
            case "Id":
                int id;

                bool validoId = Int32.TryParse(Criterio, out id);
                if (validoId)
                {
                    ventasList = await cobrosBLL.GetList(c => c.CobroId == id);
                }
                else
                {
                    Mensaje = ("Este Id no es valido.");
                }
                break;
            case "Nombre Cliente":
                ventasList = await cobrosBLL.GetList(c => c.Cliente.Nombres == Criterio);
                break;

            case "Monto Total":
                double monto;

                bool validoMonto = Double.TryParse(Criterio, out monto);
                if (validoMonto)
                {
                    ventasList = await cobrosBLL.GetList(c => c.Totales == monto);
                }
                else
                {
                    Mensaje = ("agregar un valor numerico.");
                }
                break;
            case "Fecha":

                ventasList = await cobrosBLL.GetList(c => c.Fecha == fecha);
                break;
            case "Todo":
                ventasList = await cobrosBLL.GetList(v => true);
                break;
        }
    }
}